@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.Btn {
  width: 100%;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: #070808;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    padding: 0.7rem 2rem;

  }
  &:hover {
    background-color: #292727;
  }
}
