@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.pet__Details__header {
  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  &__share-CTA__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  &__share-CTA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    &:hover {
      background-color: aliceblue;
    }
  }

  &--text {
    font-size: 0.8rem;
    color: $color-neutral-light;
  }
}

.pet__Details--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.pet__Details__container {
  padding-top: 3rem;
  &--shelter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.pet__Details__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  &--container {
    padding-top: 2rem;
  }
}
