@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.searchInput__container {
  gap: 0.5rem;
  // border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f5f0f0;
  width: 100%;
  padding: 0.5rem 1rem 0 0.5rem;
  gap: 1rem;

  @include tablet {
    width: 30rem;
  }
  &__text--container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      gap: 2rem;
    }
    & textarea {
      flex: 1;
      // padding: 1rem 1rem 0 1rem;
      height: 100%;
      padding: 1rem;
      box-sizing: border-box;
      border-radius: 1rem;
      font-size: 16px;
      resize: none;
      background-color: #f5f0f0;
      border: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: rgb(47, 47, 47);
        font-weight: 600;
        font-size: medium
      }
    }
  }
  &__file-upload--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    height: 50%;
  }
  &__searchImageUrl--container {
    padding: 0.6rem 1rem;
    margin-bottom: 4rem;
  }
}

.searchImageUrl--img {
  position: absolute;
}

.searchImageUrl--cancel__btn {
  position: relative;
  top: -0.5rem;
  right: -4rem;
  cursor: pointer;
}

.error {
  color: red;
  font-size: small;
  padding-top: 0.2rem;
  &__border {
    border: 1px solid red;
  }
}
