@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.footer-section {
  background-color: $color-primary-black;
  color: $color-primary-white;
  flex-shrink: 0;
  padding: 1rem;
  @include tablet {
    padding: 2rem 2rem;
  }
  &__logo-container--text {
    font-size: 1.5rem;
  }
  &__TCs__container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  &__TCs__text {
    font-size: 0.8rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__links {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5 rem;
    &-text {
        cursor: pointer;
      &:hover {
        color: $color-neutral-light;
      }
    }
    @include tablet {
      gap: 1rem;
      flex-direction: row;
    }
  }
}
