@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
.PetMatches {
  &__form--container {
    margin: 4rem 1rem 0 1rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    @include tablet {
      padding: 2rem;
      margin: 4rem 2rem;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

    &__input--container {
      width: 100%;
      @include tablet {
        width: 40%;
      }
    }

    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }
  &__petsCard--container {
    background-color: #eff3f6;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include tablet {
      gap: 2rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include desktop {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
